.results-list {
    width: 200px;
    background-color: rgb(232, 232, 232);
    display: flex;
    position: absolute;
    
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 3rem;
    max-height: 150px;
    overflow-y: auto;
  }