.input-wrapper {
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;
    
  }
  
  .search_input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
  }
  
  .search_input:focus {
    outline: none;
  }
  
  #search-icon {
    color: royalblue;
  }